<div class="gallery_top">
	<ul>
		<% if @active < @flowers.size %>
			<li><%= link_to prev_flowers_url do %><button class="btn-large prev">-</button><% end %>
		<% end %>
	<% @flowers[(@range * 12)..((@range + 1) * 12)].each do |flower| %>
		<li>
			<img src=<%= flower.url %> alt="Flower" height="100" width="100" id=<%= "active" if flower.id == @active %>>
		</li>
	<% end %>
	<% if @active > 1 %>
			<li><%= link_to next_flowers_url do %><button class="btn-large next">+</button><% end %>
		<% end %>
	</ul>
</div>