<div class="gallery_top">
	<ul>
		<li><button class="btn-large prev">-</button>
	<% @flowers[0..11].each_with_index do |flower, i| %>
		<li>
			<img src=<%= flower.url %> alt="Flower" height="100" width="100" id=<%= "active" if i==0 %>>
		</li>
	<% end %>
	<li><button class="btn-large next">+</button>
	</ul>
</div>