<article class="recent_pictures_container">
	<h3>Recently Added Pictures</h3>
	<% if @flowers %>
		<div class="recent_pictures">
		<% @flowers.each_with_index do |flower, i| %>
			<%= link_to flower do %>
				<img src=<%= flower.url %> alt="Flower" height="200" width="200" id=<%= "image_#{i}" %>>
			<% end %>
		<% end %>
		</div>
	<% end %>
</article>
<button id="add_picture_link">
	<%= link_to new_flower_path do %>+<% end %>
</button>