<div class="landing_page container">
	<div id="logo">GardenR</div>
	<p id="pitch">A simple way for plant lovers and nature photographers to share their work
		and get feedback from the community. Sign up is quick, easy, and free.</p>
</div>