@mixin form{
	display: block;
	margin: 10px auto;
	width: 20%;
	height: 30px;
	font-family: 'Helvetica', cursive;
	font-size: 19px;
}

@mixin btn{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 5px solid black;
	background: #335533;
	color: black;
	font-family: Helvetica, Arial;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;	
	text-align: center;
}

.add_new_flower input{
	@include form;
}

/* ----- Show Flower ----- */

#flower_container{
	width: 60%;
	margin: auto;
	text-align: center;
	img{
		margin: auto;
		margin: 30px;
		padding: 10px;
		border: 3px inset #335533;
	}
}

input{
	@include form;
	&#comment_note{
		@include form;
		width: 50%;
	}
}

.comments{
	width: 60%;
	border-top: 3px solid #335533;
	margin: auto;
	margin-top: 20px;
	font-family: 'Helvetica', cursive;
	font-size: 18px;
	background: rgba(52, 180, 41, 0.33);
	box-shadow: 0px 0 20px 20px rgba(52, 180, 41, 0.33);
	& h3{
		text-align: center;
		font-size: 24px;
	}
	& ul{
		list-style: none;
		margin-left: 20%;
		padding: 10px;
		width: 60%;
		word-wrap: break-word;
		& li{
			border-bottom: 1px solid black;
			border-left: 1px solid black;
			padding: 10px;
		}
	}
}


/* ----- Gallery ----- */

.gallery_top{
	& ul{
		list-style: none;
		& li{
			display: inline-block;
			& img{
			}
		}
	}
	#active{
		border: 5px solid white;
	}
}

.btn-large{
	@include btn;
	margin-right: 10px;
	margin-left: 5px;
}

