/* ----- Sign up/in ----- */

@mixin form{
	display: block;
	margin: 10px auto;
	width: 20%;
	height: 30px;
	font-family: 'Helvetica', cursive;
	font-size: 19px;
}

@mixin btn{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 5px solid black;
	background: #335533;
	color: black;
	font-family: Helvetica, Arial;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;	
	text-align: center;
}

.signup input{
	@include form
}

.signin input{
	@include form
}

input.btn-large{
	@include btn
}

#error{
	text-align: center;
	width: 21%;
	height: 28px;
	line-height: 28px;
	margin: auto;
	color: white;
	background:rgba(190, 13, 13, 0.63);
}

/* ----- User Show ---- */

.recent_pictures_container{
	height: 80%;
	width: 80%;
	margin: auto;
	text-align: center;
}

.recent_pictures{
	list-style: none;
	width: 50%;
	height: 500px;
	margin: auto;
	position: relative;
	img{
		border-top: 2px solid black;
		margin: 10px;
		padding: 10px;
		position: absolute;
		transition: 0.3s linear;
		&:hover{
			height: 220px;
			width: 220px;
		}
	}
	#image_0{
			top: 0;
			left: 0;
	}
	#image_1{
			top: 0;
			right: 0;
	}
	#image_2{
			bottom: 0;
			left: 0;
	}
	#image_3{
			bottom: 0;
			right: 0;
	}
}

button#add_picture_link{
	@include btn;
	text-decoration: none;
	display: block;
	margin: auto;
	a{
		text-decoration: none;
		color: black;
	}
}

.user_contact_and_portfolio{
	border: 1px solid black;
	border-radius: 4px;
	height: 110px;
	width: 200px;
	position: fixed;
	top: 30%;
	left: 7%;
	padding: 10px;
	font-family: 'Berkshire Swash', cursive;
	font-size: 18px;
	h4{
		font-size: 22px;
		font-weight: bold;
	}
	p{
		margin: 7px;
	}
}