<!-- Create a form for any model which requries text fields only
		 object is model, categories is array of hashes with variable and text placeholders -->
<%= form_for object do |f| %>
	<% categories.each do |cat| %>
		<%= f.text_field cat[:var], placeholder: cat[:placeholder] %>
	<% end %>
	<div id="error">
		<%= object.errors.full_messages.first %>
	</div>
	<%= f.submit value: "Complete form" %>
<% end %>